---
import ContactForm from "../components/Contact_Form.astro";
import Layout from "../layouts/Layout.astro";
import CardContacto from "../components/CardContacto.astro"

---

<Layout title="Contacto">
    <main>
        <div class="grid grid-cols-2 w-full h-auto my-10 ">
            <CardContacto/>
            <ContactForm/>
        </div>
    </main>
</Layout>


