---
import Layout from '../layouts/Layout.astro';
import Homemain from '../components/Homemain.astro'
import ProductsHome from '../components/ProductsHome.astro';
import CarouselHome from '../components/CarouselHome.astro';
import Pulido from '../components/Pulido.astro';
import Calificaciones from '../components/Calificaciones.astro';
---

<Layout title="Home">
    <main>
        <CarouselHome />
        <Pulido/>
        <Homemain/>
        <ProductsHome/>
        <!-- <Calificaciones/> -->
    </main>
</Layout>

