---
import Layout from '../layouts/Layout.astro';
import Search from '../components/Search.astro';
import Homemain from '../components/Homemain.astro'
import ProductsHome from '../components/ProductsHome.astro';
import CarouselHome from '../components/CarouselHome.astro';
import Pulido from '../components/Pulido.astro';
---

<Layout title="Home">
    <main>
        <CarouselHome />
        <Search/>
        <Pulido/>
        <Homemain/>
        <ProductsHome/>
    </main>
</Layout>

