---
import Layout from "../layouts/Layout.astro";
import Data from "../../public/data/muestrasPromo.json";
import MuestrasPromoCard from "../components/MuestrasPromoCard.astro";

const title = "muestrasPromo";

const productos = Data;
const dataFiltrada = productos.filter((dato) => {
  return dato.cat === title;
});
---

<div title={title}>
  <main class="min-h-screen">
    <div
      class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 w-auto min-h-auto gap-2 lg:gap-5 m-2 lg:m-5"
    >
      {
        dataFiltrada.map((dato) => {
          return (
            <MuestrasPromoCard
             id={dato.id}
             img={dato.img}
             cat={dato.cat}


            />
          );
        })
      }
    </div>
  </main>
</div>
