---
import Layout from "../layouts/Layout.astro";


---


<Layout title = 'notfound'>
    <div class="text-center m-6">
    <h1 class="text-8xl font-extrabold text-red-600 mb-4">404</h1>
    <h2 class="text-2xl sm:text-3xl font-semibold text-gray-800 mb-2">
      Página no encontrada
    </h2>
    <p class="text-gray-600 mb-6">
      Estamos trabajando.
    </p>
    <a href="/" class="inline-block px-6 py-3 bg-red-600 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 transition">
      Volver al inicio
    </a>
  </div>
</Layout>
