---
import Preguntas1 from "../components/Preguntas1.astro";
import Preguntas2 from "../components/Preguntas2.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout title="Preguntas Frecuentes">
    <main class="2xl:h-[659px]">
        <div class="flex flex-col gap-8 justify-center items-start mt-14 mx-10">
            <p class="text-3xl font-bold">Preguntas Frecuentes</p>
            <p class="text-gray-700 font-semibold">Explora nuestras soluciones y, si necesitas más detalles o asesoramiento personalizado, nuestro equipo está a tu disposición. ¡Contá con nosotros para crear espacios excepcionales!</p>
        </div>
        <div class="grid grid-cols-2 w-full my-10 h-[600px] ">
            <div class="grid place-items-center p-14 "> 
            <Preguntas1>
            </div>
            <div class="grid place-items-center p-14">
            <Preguntas2>
            </div>
        </div>
    </main>
</Layout>
