---
import { Image } from "astro:assets";
import img from "../../public/Logos-Iconos/whatsapp.png"

---

<a class="fixed bottom-[1.25rem] right-[1.25rem] z-50 border-none outline-none cursor-pointer" href="https://walink.co/444a47" target="_blank">
    <Image src={img} alt="whatsapp" class=" w-[2.5rem] h-[2.5rem]" ></Image>
    <img >
</a>