---

interface Props {
    title : String;
    desc : String;
    img : String
}

const {title, desc, img} = Astro.props
---

<div class="grid grid-cols-3 gap-4 place-items-center border-4 border-slate-300 rounded-lg sm:border-0 sm:grid-cols-3 sm:gap-4 sm:place-items-center md:border-0 md:grid-cols-3 md:gap-4 md:place-items-center m-5 sm:m-10 md:m-10" >
    <div>
        <!-- falta linkear -->
        <a href="#"> 
            <img class="object-none rounded-lg h-56  sm:object-none sm:rounded-lg sm:h-48 sm:w-96 sm:border-4 sm:border-slate-300 md:object-none md:rounded-lg md:h-48 md:w-96 md:border-4 md:border-slate-300 md:hover:border-slate-700" src=`${img}` alt=`imagen ${title}`>
        </a>
    </div>
    <div class="col-span-2 sm:col-span-2 sm:border-2 sm:rounded-lg sm:border-red-700 md:col-span-2 md:border-2 md:rounded-lg md:border-red-700 p-5 ">
        <h3 class="font-bold text-sm text-red-700 sm:text-sm md:text-xl">{title}</h3>
        <p class="text-justify text-sm sm:text-sm md:text-lg">{desc}</p>
    </div>
</div>

