---

---

<div class="contenedorFooter mx-auto"> 
    <div class="marginSpace ">
        <img src="../../public/Logos-Iconos/Logo-Footer-289-95.png" alt="logo_RusticosMendoza">
    </div>
    <div class="marginSpace mx-auto flex flex-col gap-1.5">
        <a href="https://maps.app.goo.gl/v9LbyVCUjUKqVuR1A" target="_blank" class="contenedorRRSS cursor-pointer" >
            <img src="../../public/Logos-Iconos/icon_location.svg" alt=""> 
            <p class="textBold">Lisandro Moyano 645, Las Heras, Mendoza</p>
        </a> 
        <div class="flex flex-col w-full">
            <div class="flex justify-start items-center gap-4">
                <img src="../../public/Logos-Iconos/icon_access_time.svg" alt=""> 
                <p class="textBold">Horario de atención</p>
            </div>
            <div class="flex flex-col items-start w-full ml-10 ">
                <p>Lunes a Viernes de 10 a 18 hs</p>
                <p>Sábados de 10 a 14 hs</p>
            </div>
        </div>
    </div>  
    <div class="marginSpace mx-auto flex flex-col gap-2">
        <a href="https://walink.co/444a47" target="_blank" class="contenedorRRSS cursor-pointer" ><img src="../../public/Logos-Iconos/whatsapp-icon.svg" alt=""> <p class="textBold">Whatsapp</p></a> 
        <a href="https://www.instagram.com/_rusticosmendoza/" target="_blank" class="contenedorRRSS cursor-pointer" ><img src="../../public/Logos-Iconos/Icon_instagram.svg" alt=""> <p class="textBold">Instagram</p></a> 
        <a href="https://m.facebook.com/profile.php?id=100063704575768#_=_" target="_blank" class="contenedorRRSS cursor-pointer" ><img src="../../public/Logos-Iconos/Icon_facebook.svg" alt=""> <p class="textBold">Facebook</p></a> 
        
    </div>
</div>

<style>
    .contenedorFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        color: white;
        
        }
    .textBold{
        font-weight: 700;
    }
    .marginSpace{
        margin: 1%;
        margin-right: 5%;
    }
    .contenedorRRSS{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }
</style>