---
import { Image } from "astro:assets";
import imgPulido from "../../public/images-home/pulido.jpg"

---
<div class="w-full grid place-items-center"> 

<div class="div2 ">
    <img class="rounded-lg  w-full border-4 border-slate-300 hover:border-red-700 grid place-items-center" src="./public/images-home/home_carrousel1.jpg" alt="img1">
    <img class="rounded-lg  w-full border-4 border-slate-300 hover:border-red-700" src="./public/images-home/home_carrousel2.jpg" alt="img2">
    <img class="rounded-lg  w-full border-4 border-slate-300 hover:border-red-700" src="./public/images-home/home_carrousel3.jpg" alt="img3">
    
</div>

<div class="div2">

<div class="div3">
    
    <svg class="iconSvg mb-4" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.33 75">
        <defs>
            <style>
                .cls-1 {
                    fill: #c81010;
                    stroke-width: 0px;
                    
                }
                </style>
        </defs>
        <path class="cls-1" d="m41.67,75L0,25,12.5,0h58.33l12.5,25-41.67,50Zm-9.9-54.17h19.79l-6.25-12.5h-7.29l-6.25,12.5Zm5.73,36.15v-27.81H14.38l23.12,27.81Zm8.33,0l23.12-27.81h-23.12v27.81Zm15-36.15h11.04l-6.25-12.5h-11.04l6.25,12.5Zm-49.37,0h11.04l6.25-12.5h-11.04l-6.25,12.5Z"/>
    </svg>
    
    <h3 class="textBold text-lg mb-2">
        Elegancia duradera
    </h3>
    <p class="text-center">
        Nuestros productos están diseñados para mantener su belleza y durabilidad a lo largo del tiempo,
        lo que te permite disfrutar de un estilo elegante sin preocuparte por el desgaste.
    </p>
</div>

<div class="div3">
    <svg class="iconSvg mb-4" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 97">
        <defs>
          <style>
            .cls-1 {
              fill: #c81010;
              stroke-width: 0px;
              
            }
          </style>
        </defs>
        <path class="cls-1" d="m34,0v29C15.23,29,0,44.22,0,63s15.23,34,34,34c12.58,0,23.57-6.84,29.45-17h46.55V0H34Zm68,72h-35.21c.79-2.87,1.21-5.88,1.21-9,0-16.02-11.08-29.46-26-33.05V8h60v64Z"/>
      </svg>
    <h3 class="textBold text-lg mb-2">
        Ahorro Energético
    </h3>
    <p class="text-center">
        Ofrecen propiedades térmicas que pueden ayudarte a mantener una temperatura ambiente más estable, 
        lo que se traduce en un ahorro significativo en tus costos de energía.
    </p>
</div>

<div class="div3">
    <svg class="iconSvg2 mb-4" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.25 90.13">
        <defs>
          <style>
            .cls-1 {
              fill: #c81010;

              stroke-width: 0px;
            }
          </style>
        </defs>
        <path class="cls-1" d="m56.44,39.77c-.19-.65-.51-1.26-.93-1.79h.01c-.43-.53-.95-.97-1.54-1.29-.59-.33-1.25-.53-1.92-.61-.67-.07-1.35-.01-2,.17-.65.19-1.26.51-1.78.93l-12.88,10.3c-1.07.85-1.75,2.1-1.9,3.45-.15,1.36.24,2.72,1.1,3.79.85,1.07,2.09,1.75,3.45,1.9,1.36.15,2.72-.24,3.79-1.1l12.87-10.3c.53-.42.97-.94,1.3-1.53.32-.6.53-1.25.6-1.92.08-.67.02-1.35-.17-2Z"/>
        <path class="cls-1" d="m69.33,28.08l6.41-6.41c.93-.97,1.45-2.27,1.44-3.62-.01-1.35-.55-2.65-1.51-3.6-.95-.96-2.24-1.5-3.59-1.51-1.35,0-2.66.51-3.63,1.45l-6.41,6.41c-5.32-4.07-11.63-6.68-18.27-7.57v-2.93h2.95c1.37,0,2.68-.54,3.64-1.51.97-.96,1.51-2.27,1.51-3.64s-.54-2.67-1.51-3.64c-.96-.97-2.27-1.51-3.64-1.51h-15.45c-1.37,0-2.68.54-3.64,1.51-.97.97-1.51,2.28-1.51,3.64s.54,2.68,1.51,3.64c.96.97,2.27,1.51,3.64,1.51h2.2v2.93c-6.64.89-12.95,3.5-18.27,7.57l-6.41-6.41c-.97-.97-2.28-1.51-3.65-1.51s-2.67.54-3.64,1.51c-.96.96-1.5,2.27-1.5,3.64s.54,2.67,1.5,3.64l6.41,6.41C2.8,34.77,0,42.99,0,51.5c0,10.25,4.06,20.07,11.31,27.31,7.24,7.25,17.07,11.32,27.31,11.32s20.07-4.07,27.31-11.32c7.25-7.24,11.32-17.06,11.32-27.31,0-8.51-2.81-16.73-7.92-23.42Zm-10.68,43.45c-5.31,5.31-12.52,8.3-20.03,8.3s-14.72-2.99-20.03-8.3-8.29-12.52-8.29-20.03,2.98-14.72,8.29-20.03,12.52-8.29,20.03-8.29,14.72,2.98,20.03,8.29,8.3,12.52,8.3,20.03-2.99,14.72-8.3,20.03Z"/>
      </svg>
    <h3 class="textBold text-lg mb-2" >
        Mínimo mantenimiento
    </h3>
    <p class="text-center">
        Experimentarás la tranquilidad de un mantenimiento reducido,
         lo que te permitirá disfrutar de tu espacio sin la necesidad constante de reparaciones costosas o cuidados intensivos.
    </p>
</div>
</div>
</div>
<style>
    .divContainer{
        margin: 5%;
    }
    .iconSvg{
        width: 15%;
    }
    .iconSvg2{
        width: 11%;
    }
    .textBold{
        font-weight: 700;
    }
    .div1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10px 0 20px 0
    }
    .div1-1{
        display: grid;
        width: 100%;
        place-items: center;
        grid-template-columns: 40% 55%;
        grid-template-rows: auto;
        margin: 5% 0 5% 0
    }
    .div2{
        width: 90%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        gap:5%;
        margin-bottom: 3%;
        margin-top: 3%;
    }
    .div3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    
</style>