---
---
  <div class="border-y-4 mr-16 ml-16">
<div class="containerProductsHome ">
  
<h2 class="font-bold text-lg text-center   "> PRODUCTOS</h2>

    <div class="containerProductsDiv">
        <div >
            <a href="#"> <img class="object-none rounded-lg h-48 w-96  border-4 border-slate-300 hover:border-red-700" src="./public/images-home/piedra_scala1.jpg" alt="imagen revestimiento"></a>
        </div>
        <div>
            <h3 class="font-bold text-lg">REVESTIMIENTOS</h3>
            <p class="text-justify mr-16">Nuestros revestimientos están diseñados para dar vida a tus paredes y fachadas. Desde acabados texturizados hasta opciones elegantes y modernas, nuestra colección de revestimientos te permitirá crear ambientes impresionantes y duraderos.</p>
        </div>
    </div>

    <div class="containerProductsDiv">
        <div class="ml-16">
            <h3 class="font-bold text-lg">CEMENTICIOS</h3>
            <p class="text-justify ">Los productos cementicios son esenciales para proyectos de construcción y remodelación. Ofrecemos una variedad de opciones de cemento de alta calidad, desde morteros y adhesivos hasta revestimientos impermeables y morteros autonivelantes, ideales para cualquier aplicación.</p>
        </div>
        <div >
           <a href="#"> <img class="object-none rounded-lg h-48 w-96  border-4 border-slate-300 hover:border-red-700" src="./public/images-home/cementicio_Balustre2.jpg" alt="imagen revestimiento"></a>
        </div>
    </div>

    <div class="containerProductsDiv">
    <div >
        <a href="#"> <img class="object-none rounded-lg h-48 w-96  border-4 border-slate-300 hover:border-red-700" src="./public/images-home/mesada_aplicada1.jpg" alt="imagen revestimiento"></a>
    </div>
    <div>
        <h3 class="font-bold text-lg">MESADAS</h3>
        <p class="text-justify mr-16">Descubre nuestra selección de estilos de mesadas que se adaptan perfectamente a tus necesidades en la cocina o el baño. Las mesadas no aportan solo elegancia, sino también funcionalidad a tus espacios.</p>
    </div>
    </div>

    <div class="containerProductsDiv">
        <div class="ml-16">
            <h3 class="font-bold text-lg">ADHESIVOS</h3>
            <p class="text-justify ">Entendemos la importancia de la eficiencia en tus proyectos. Ya sea en interiores o exteriores, nuestros adhesivos están diseñados para resistir a las condiciones más exigentes. Encuentra la solución perfecta para tu proyecto.</p>
        </div>
        <div >
           <a href="#"> <img class="object-cover rounded-lg h-48 w-96  border-4 border-slate-300 hover:border-red-700" src="./public/images-home/adhesivo.jpg" alt="imagen revestimiento"></a>
        </div>
    </div>

      <div class="containerProductsDiv2">
    <div >
        <a href="#"> <img class="object-none rounded-lg h-48 w-96  border-4 border-slate-300 hover:border-red-700" src="./public/images-home/piso_exterior1.jpg" alt="imagen revestimiento"></a>
    </div>
    <div>
        <h3 class="font-bold text-lg">PISOS</h3>
        <p class="text-justify mr-16">Nuestra colección de pisos ofrece una amplia gama de opciones para cada rincón de tu hogar. Desde suelos que aportan calidez en el interior de tu hogar hasta elegantes pisos de exterior, tenemos la solución perfecta para ti.</p>
    </div>
    </div>

</div>
</div>
<style>
    .containerProductsHome{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto;
        
    }
    .containerProductsDiv{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        margin: 2% 2% 0% 2%;
    }
    .containerProductsDiv2{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        margin:2%
    }


    
</style>