---
import { Image } from "astro:assets";
import imgPulido from "../../public/images-home/pulido.jpg"
---

<div class=" md:w-full md:grid md:place-items-center">

<div class=" m-[8%] sm:m-[8%] md:grid md:grid-cols-2 grid-flow-rows md:place-content-center md:m-[5%] md:gap-2">
   
        <div class="" >
        <Image src={imgPulido} alt="imagen pulido" class="rounded-xl"></Image>
        </div>

<div class="m-2">

<div >
 <h3 class="font-bold text-center text-sm sm:font-bold sm:text-center sm:text-sm sm:px-3 md:font-bold md:text-justify md:text-lg md:px-3">
¿Deseas convertir tus paredes en el lienzo perfecto para hacer que tu hogar sea único y especial?
</h3>
</div>

<p class="text-xs text-center sm:text-sm sm:text-center sm:px-3 md:text-lg md:text-justify mb:px-3">
Tus paredes son la oportunidad perfecta para la creatividad: pueden ser el reflejo de un estilo o personalidad, convirtiendo así tu hogar en algo verdaderamente único y especial. Cada elección que 
hagas para tus paredes contribuirá a la creación de un ambiente que te represente. 
</p>

</div>


</div>

<div class="m-[8%] sm:m-[8%] text-center md:m-[5%] ">
<div >
<h2 class="text-red-700 font-bold text-sm sm:text-red-700 sm:font-bold sm:text-lg md:text-red-700 md:font-bold md:text-2xl">
    Nuestros revestimientos están diseñados para llevar belleza a tus espacios
</h2>
</div>
<p class="text-xs sm:text-sm md:text-lg">
    Transformar tus paredes es, además de una excelente decisión decorativa, un viaje hacia el confort y la calidez. 
    ¡Descubrí cómo transformar tu espacio en un auténtico hogar con estilo de la mano de Rústicos Mendoza!
</p>
</div>

</div>
