---
import { Image } from "astro:assets";
import imgPulido from "../../public/images-home/pulido.jpg"
---

<div class="md:w-full md:grid md:place-items-center">

    <div class="m-[8%] grid lg:grid-cols-2 md:place-items-center md:m-[5%] md:gap-2">
    
        <div>
            <Image src={imgPulido} alt="imagen pulido" class="rounded-xl"></Image>
        </div>

        <div class="m-2">
            <h3 class="font-bold text-center text-sm px-3 lg:text-justify md:text-lg">
                ¿Deseas convertir tu hogar en un lugar que sea único y especial?
            </h3>
            <p class="text-xs text-center sm:text-sm sm:text-center sm:px-3 md:text-lg md:text-justify mb-3">
                Tus paredes son la oportunidad perfecta para la creatividad: pueden ser el reflejo de un estilo o personalidad, convirtiendo así tu hogar en algo verdaderamente único y especial. Cada elección que hagas para tus paredes contribuirá a la creación de un ambiente que te represente.
            </p>
        </div>
    </div>

    <div class="m-[8%] sm:m-[8%] text-center md:m-[5%]">
        <h2 class="text-red-700 font-bold text-sm sm:text-red-700 sm:font-bold sm:text-lg md:text-red-700 md:font-bold md:text-2xl">
            Nuestros revestimientos están diseñados para llevar belleza a tus espacios
        </h2>
        <p class="text-xs sm:text-sm md:text-lg">
            Transformar tus paredes es, además de una excelente decisión decorativa, un viaje hacia el confort y la calidez. ¡Descubrí cómo transformar tu espacio en un auténtico hogar con estilo de la mano de Rústicos Mendoza!
        </p>
    </div>

</div>
