---
import { Image } from "astro:assets";
import imgPulido from "../../public/img_Mesadas/img_render/black_cosmic.png"
---

<div class="md:w-full md:grid md:place-items-center">

    <div class="m-[8%] grid lg:grid-cols-2 md:place-items-center md:m-[5%] md:gap-2 bg-[#2c0000]/10">
    
        <div>
            <Image src={imgPulido} alt="imagen pulido" class=""></Image>
        </div>

        <div class="m-2">
            <h3 class="  font-bold text-center text-sm px-3 lg:text-justify md:text-lg">
                 ¿Querés una cocina o baño que combine elegancia, durabilidad y personalidad?
            </h3>
            <p class=" text-xs text-center sm:text-sm sm:text-center sm:px-3 md:text-lg md:text-left mb-3">
                Las mesadas de granito son mucho más que superficies: son piezas clave que definen el estilo y la funcionalidad de tus espacios. Elegir el granito adecuado transforma tu cocina o baño en lugares únicos, resistentes y llenos de carácter.
             <a
      href="../productos/mesadas"
      class="inline-block mt-3  focus:outline-none focus:ring-4 focus:ring-gray-600 font-medium rounded-full text-xs sm:text-sm md:text-base px-4 sm:px-5 py-2 text-center "
    >
    Ver modelos
    </a>
        </div>
    </div>

    <div class="m-[8%] sm:m-[8%] text-center md:m-[5%]">
        <h2 class="text-red-700 font-bold text-sm sm:text-red-700 sm:font-bold sm:text-lg md:text-red-700 md:font-bold md:text-2xl">
            Nuestras mesadas de granito combinan diseño, calidad y resistencia
        </h2>
        <p class="text-xs sm:text-sm md:text-lg">
            Una mesada bien elegida no solo embellece tus ambientes, también aporta funcionalidad y durabilidad por años. Descubrí nuestras opciones en granito y encontrá el estilo que mejor se adapta a tu hogar con Rústicos Mendoza.
  </p>
        </p>
    </div>

</div>

