---
---

<div 
  class="relative w-[90%] max-w-5xl" 
  x-data 
  x-init="window.setTexture = (url) => $root.querySelector('.texture-layer').style.backgroundImage = `url('${url}')`"
>
  <img src="/img_casa_exterior/fachada_exterior_vacio.png" alt="Casa base" class="w-full h-auto block" />
  <div class="absolute inset-0 texture-layer opacity-85 mix-blend-multiply bg-cover bg-no-repeat pointer-events-none"></div>
</div>
  