---
---

<div class="rounded-lg m-5">
    <div class="flex flex-col items-center">
        <!-- Contenedor de la imagen -->
        <div class="relative w-full mb-0">
            <img class="w-full h-auto rounded-lg" src="/public/img_nuestraEmpresa/vision.png" alt="Visión de la empresa">
        </div>

        <!-- Contenedor de Misión y Visión -->
        <div class="flex flex-col items-center translate-y-[-180%] ">
            <!-- Contenedor de Visión -->
            <div class="shadow-sm z-2 w-full p-6 mb-4 bg-opacity-90 rounded-xl bg-white">
                <h3>VISIÓN GENERAL DE LA EMPRESA</h3>
                <p>La empresa Rústicos Mendoza busca, a través de 
                    distintos medios, aumentar sus ventas, conseguir nuevos clientes y superar a la competencia. 
                    Se ha observado como principal inconveniente que el dueño tiene sobrecarga de funciones, no posee 
                    una estructura organizacional bien definida que lo acompañe en este proceso; quelos canales de comunicación 
                    que se utilizan no son los adecuados para promover una venta y no cuenta con estrategias comerciales claras. 
                    También se considera que el local actual se encuentra en una zona de poco flujo de clientes reales y potenciales,
                    su tamaño es pequeño y no logra transmitir el mensaje de ventas. Como fortaleza observamos la cercanía de la fábrica 
                    al local comercial, lo cual ahorra tiempo en el traslado de los productos, supervisión y revisión.</p>
            </div>

            <!-- Contenedor de Misión -->
            <div class="shadow-sm z-1 w-full p-6 bg-opacity-90 rounded-xl bg-white">
                <h3>Misión</h3>
                <p>Somos una empresa de la provincia de Mendoza, dedicada a la producción y comercialización de pisos y
                    revestimientos que busca satisfacer las necesidades de nuestros clientes, ofreciéndoles 
                    un excelente servicio acompañado de una amplia gama de productos con la mejor calidad.</p>
            </div>
        </div>
    </div>
</div>
