---
import BtnWhatsapp from "../components/BtnWhatsapp.astro";
import Footer from "../components/Footer.astro";
import { hydrate } from "https://cdn.skypack.dev/astro/@astro/hydrate";
import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./icon_logo_marca.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rusticos Mendoza | {title}</title>
    <!-- Meta Pixel Code -->
<script is:inline>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1530823477465079');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1530823477465079&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
  </head>
  <body>
    <Navbar />
    <slot />
    <BtnWhatsapp />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(241, 241, 241);
  }
</style>
